@page
@model PizzaPlace.FeedbackModel
@{
    ViewData["Title"] = "Feedback";
}

<h1>Feedback</h1>

<div class="container">
    <form asp-page="Feedback" method="post">
        <div class="form-group">
            <label asp-for="@Model.Feedback.Name">Name:</label>
            <input asp-for="@Model.Feedback.Name" class="form-control" placeholder="Enter Name" />
            <span asp-validation-for="@Model.Feedback.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Feedback.Email">Email:</label>
            <input asp-for="@Model.Feedback.Email" class="form-control" placeholder="Enter Email" />
            <span asp-validation-for="@Model.Feedback.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Feedback.Message">Message:</label>
            <input asp-for="@Model.Feedback.Message" class="form-control" placeholder="Enter Message" />
            <span asp-validation-for="@Model.Feedback.Message" class="text-danger"></span>
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

